<main class="main">

    <app-navbar></app-navbar>

    <div class="content">
        <div id="inicio" class="inicio">
            <div class="hero d-flex justify-content-center align-items-center" >
                <div class="d-flex align-items-center w-75 h-75 text-white p-0 texto-hero">
                    <div>
                        <img src="../assets/icono.png" class="d-block w-100" alt="">
                    </div>
                    <div class="text-left ">
                        <h1 class="h3-bold">Seguridad Profesional a tu alcance con SESPRIV</h1>
                        <p class="titulobanner">——Servicios Especializados en Seguridad Privada S.DE R.L</p>
                        <p>Protege lo que más importa con nuestro equipo altamente capacitado. Estamos aquí para ti las
                            24 horas del día, los 7 días de la semana.</p>
                        <div class="col-md-5">
                            <a href="https://wa.me/50472409525" target="_blank"
                                class="btn btn-primary btn-lg mt-3 h3-bold div-contactar">
                                Contactar
                                <img src="../assets/whatsapp.png" class="icon-whatsapp" alt="icono-whatsapp">
                            </a>
                        </div>

                    </div>

                </div>
            </div>

            <app-servicios></app-servicios>
            <section id="Quienessomos" class="section-custom text-white">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 d-flex align-items-center">
                            <img src="../assets/icono.png" class="d-block w-100" alt="" alt="Imagen">
                        </div>
                        <div class="col-md-6 mt-5">
                            <h2 class="text-center contactanos mb-3">¿Quiénes somos?</h2>

                            <p> {{MensajeQuienesSomos}} </p>
                            <div class="row" id="carrusel">
                                <div id="carouselExampleIndicators" class="carousel slide">
                                    <div class="carousel-indicators">
                                        <button type="button" data-bs-target="#carouselExampleIndicators"
                                            data-bs-slide-to="0" class="active" aria-current="true"
                                            aria-label="Slide 1"></button>
                                        <button type="button" data-bs-target="#carouselExampleIndicators"
                                            data-bs-slide-to="1" aria-label="Slide 2"></button>
                                        <button type="button" data-bs-target="#carouselExampleIndicators"
                                            data-bs-slide-to="2" aria-label="Slide 3"></button>
                                    </div>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active w-75">
                                            <h5>Misión</h5>
                                            <p>Proporcionar a nuestros clientes la más alta calidad en servicios de
                                                Seguridad y Vigilancia Especializada con soluciones integrales a sus
                                                requerimientos, con personal eficiente y constante innovación
                                                tecnológica, permitiendo su tranquilidad, satisfacción y confianza.</p>
                                        </div>
                                        <div class="carousel-item">
                                            <h5>Visión</h5>
                                            <p>Ser una empresa líder en servicios integrales de seguridad, ubicados
                                                dentro de las 10 principales empresas del sector, brindar servicios de
                                                seguridad privada con el profesionalismo y calidad que nos identifiquen
                                                y sean la base de nuestro negocio, brindando un servicio de alta calidad
                                                y confianza para su empresa o residencia.</p>
                                        </div>
                                        <div class="carousel-item">
                                            <h5>Servicios Prestados</h5>
                                            <p>Servicios protección de seguridad a personas, vienes, valores, áreas
                                                públicas, espectáculos masivos, espacios híbridos, venta e instalación
                                                de cámaras de seguridad, análisis de prevención en cuestión de
                                                seguridad.</p>
                                        </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button"
                                        data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button"
                                        data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>



            <div class="container mt-4">
                <div class="row">
                    <div class="col">
                        <div id="Contactos" class="contactanos">
                            <h1 class="mb-0">Contáctanos</h1>
                        </div>
                    </div>
                    <div class="col text-start">
                    </div>
                </div>
            </div>


            <div  class="container mt-5">
                <div class="row">
                    <div class="col-md-6 div-mapa">
                        <iframe class="mapa-google"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3876.762364377724!2d-87.20993279999999!3d14.092986099999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f6fbd6c48209f0b%3A0xbf3472378bea1262!2sSESPRIV!5e0!3m2!1sen!2sus!4v1646051994579!5m2!1sen!2sus"
                            allowfullscreen="" loading="lazy">
                        </iframe>
                        <div class="w-100 d-flex align-items-center justify-content-center">
                            <p class="mt-3 w-75 fw-bold">Nuestra oficina principal se encuentra en Edificio Tabora, Bo.
                                Concepcion 13 Calle, 6ta Avenida, 11102 Comayaguela</p>
                        </div>

                    </div>


                    <div class="col-md-6 mt-2 mb-2">
                        <h3 class="text-center fw-bold mb-4">Tenemos cobertura en 3 departamentos</h3>
                        <h4 class="text-center mb-3 fw-bold">¡Nos ubicamos en Tegucigalpa!</h4>
                        <p class="fw-bold">Servicios Especializados en Seguridad Privada S. de R.L. tiene su oficina
                            principal
                            en Tegucigalpa, también operamos en otros 2 departamentos.
                            Esto garantiza una amplia cobertura y proximidad a tu hogar o negocio, reforzando nuestro
                            compromiso con tu seguridad en:</p>
                            
                        <section class="d-flex justify-content-between">
                            <div class=" d-flex justify-content-center align-items-center flex-column">
                                <img src="../assets/escudo.png" class="img-fluid h-25" alt="Imagen">
                                <p class="text-center">Francisco Morazan</p>
                            </div>
                            <div class="d-flex justify-content-center align-items-center flex-column">
                                <img src="../assets/escudo.png" class="img-fluid h-25" alt="Imagen">
                                <p class="text-center">San Jeronimo, Comayagua</p>
                            </div>
                            <div class="d-flex justify-content-center align-items-center flex-column">
                                <img src="../assets/escudo.png" class=" img-fluid h-25" alt="Imagen">
                                <P class="text-center">San Lorenzo, Valle</P>
                            </div>
                        </section>

                    </div>
                </div>
            </div>

            <app-footer></app-footer>

        </div>
    </div>
</main>

<router-outlet />