* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }
  
  /* NAVS  */
  
  .w-btn{
    width: 50%!important;
  }
  .navbar-custom {
    background-color: #1E1E1E; 
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    display: inline;
    margin-right: 20px;
    position: relative; 
  }
 
  .nav-link {
    text-decoration: none;
    color: #E5BF00;
    position: relative;
  }
  
  .nav-link::after {
    content: "";
    display: block;
    width: 0;
    height: 5px;
    background-color: #E5BF00;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: width 0.3s ease; 
  }
  
  .nav-link:hover::after,
  .nav-link.active::after { 
    width: 100%;
  }
  
  .section {
    height: 500px;
    border: 1px solid #E5BF00;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }
  
  #servicios{
    scroll-margin-top: 15vh!important;
  }
  
  
  /* seccion de quienes somos  */
  
  .section-custom {
    background-color: #1E1E1E; 
  }
  
  
  
  .section-custom h5 h4{
    color: #E5BF00; 
  }
  .titulobanner{
    color: #E5BF00; 
  }
  
  .btn-primary {
    background-color: #E5BF00;
    color: black;
    border-color: #E5BF00;
  }
  
  .text-left {
    text-align: left !important;
  }
  
  .h3-bold {
    font-weight: bold;
  }
  
  
  .contactanos {
    padding:15px;
    position: relative;
    display: inline-block;
    border-left: 4px solid #E5BF00;
  }
  
  .contactanos::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: calc(50% - 50px); 
    height: 4px;
    background-color: #E5BF00;
    border-top-left-radius: 1px; 
    border-top-right-radius: 1px; 
  }
  .icon-whatsapp{
    max-width: 8%;
  }
  
  @media(max-width:480px){
    .mt-2{
      margin-top: 2.2rem!important;
    }
    .mt-5{
      margin-top: 2.2rem!important;
    }
    .my-2{
      margin-top: 1rem !important;
      margin-bottom: 1rem !important;
    }
    .w-btn{
      width: 80%!important;
    }
  }
  @media(max-width:415px){
    .mt-2{
      margin-top: 1rem!important;
    }
    .mt-5{
      margin-top: 1rem!important;
    }
  }