
<div id="servicios" class="container text-center mt-4">
    <h1 class="contactanos mb-0 h3-bold">Servicios</h1>
</div>

<div class="container text-center mt-5 ">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="row  m-0 p-0">

                <div class="col square bg-dark">
                    <img  class=" "  src="../assets/camara.png " class="img-fluid mx-auto my-3" style="max-height: 55px;" alt="">
                    <h4 class="text-white h3-bold ">Cámaras</h4>
                    <p class="text-white ">Instalación profesional de cámaras de seguridad.</p>
                </div>

                <div class="col square square-light-bg d-none d-sm-block">
                    <img src="../assets/perro.png" class="d-block w-100 d-none d-sm-block" alt="">
                </div>

                <div class="col square bg-dark">
                    <img src="../assets/guardias.png" class="img-fluid mx-auto my-2" style="max-height: 80px;" alt="">
                    <h4 class="text-white h3-bold">Guardias</h4>
                    <p class="text-white">Guardias de seguridad altamente capacitados</p>
                </div>
            </div>
            <div class="row  m-0 p-0">
                <div class="col square square-light-bg d-none d-sm-block"></div>

                <div class="col square bg-dark">
                    <img src="../assets/mantenimiento.png" class="img-fluid mx-auto my-3" style="max-height: 55px;"
                        alt="">
                    <h4 class="text-white h3-bold">Mantenimiento</h4>
                    <p class="text-white">Mantenimiento preventivo y correctivo de cámaras</p>
                </div>
                <div class="col square square-light-bg d-none d-sm-block"></div>
                <button type="button" class="btn btn-primary mt-5 btn-lg font-weight-bold btn-text-size">Ver más</button>
            </div>
        </div>
    </div>
</div>


<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="centered-div">
                <p>Explora más de nuestros servicios. Tenemos todo lo que necesitas para garantizar la tranquilidad de tu hogar o negocio. ¡Explora ahora para conocer más!</p>
            </div>
        </div>
    </div>
</div>
