/* You can add global styles to this file, and also import other style files */
body{
    background-color: #F3F3F4; 
  }
  
/*TAMANIO TEXTO BOTON*/
.btn-text-size{
  font-size: 15px;
  font-weight: bold;
}
.section-custom {
  background-color: #1E1E1E; 
}

@media(max-width:480px){
  .btn-text-size{
    font-size: 18px;
    font-weight: bold;
  }
}